In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('hackerearth_DL\\Problem2\\train.csv')
test = pd.read_csv('hackerearth_DL\\Problem2\\test.csv')

In [4]:
train.index = train['transaction_id']
test.index = test['transaction_id']

In [6]:
train.drop(['transaction_id'],axis=1 , inplace=True)
test.drop(['transaction_id'],axis=1 , inplace=True)

In [8]:
y_train = train['target']
train.drop(['target'],axis=1,inplace=True)

In [10]:
len(train)

348978

In [9]:
train.isnull().sum()

num_var_1          0
num_var_2          0
num_var_3          0
num_var_4          0
num_var_5          0
num_var_6          0
num_var_7          0
cat_var_1      15782
cat_var_2          0
cat_var_3      43853
cat_var_4          0
cat_var_5          0
cat_var_6          0
cat_var_7          0
cat_var_8     109738
cat_var_9          0
cat_var_10         0
cat_var_11         0
cat_var_12         0
cat_var_13         0
cat_var_14         0
cat_var_15         0
cat_var_16         0
cat_var_17         0
cat_var_18         0
cat_var_19         0
cat_var_20         0
cat_var_21         0
cat_var_22         0
cat_var_23         0
cat_var_24         0
cat_var_25         0
cat_var_26         0
cat_var_27         0
cat_var_28         0
cat_var_29         0
cat_var_30         0
cat_var_31         0
cat_var_32         0
cat_var_33         0
cat_var_34         0
cat_var_35         0
cat_var_36         0
cat_var_37         0
cat_var_38         0
cat_var_39         0
cat_var_40         0
cat_var_41         0
cat_var_42         0
dtype: int64

In [21]:
train.cat_var_1.unique()

array([nan, 'da', 'gf', 'hn', 'pu', 'gj', 'ga', 'qk', 'zl', 'vg', 'to',
       'mg', 'ye', 'nk', 'cm', 'qt', 'by', 'yv', 'gr', 'qv', 'lh', 'ua',
       'll', 'mm', 'ex', 'hm', 'js', 'oy', 'lk', 'ln', 've', 'mr', 'wu',
       'jp', 'hw', 'tb', 'ep', 'on', 'bn', 'og', 'gt', 'su', 'ap', 'xm',
       'tl', 'tq', 'hl', 'tn', 'so', 'az', 'it', 'ts', 'om', 'wm', 'ym',
       'sh', 'sm', 'ot', 'di', 'yk', 'sj', 'tz', 'ht', 'af', 'uw', 'vj',
       'pv', 'ql', 'cs', 'ez', 'ff', 'xl', 'eb', 'nj', 'nm', 'ks', 'uy',
       'il', 'hp', 'xd', 'le', 'aq', 'lc', 'iq', 'tu', 'lv', 'zc', 'aa',
       'ct', 'ka', 'bp', 'ry', 'cd', 'gs', 'fx', 'qx', 'mv', 'um', 'ss',
       'eq', 'hd', 'mx', 'gv', 'em', 'xx', 'kk', 'je', 'tw', 'ah', 'xr',
       'nq', 'bk', 'cr', 'mp', 'gl', 'bs', 'ou', 'ds', 'jo', 'gg', 'ma',
       'yh', 'fc', 'oj', 'yb', 'ch', 'ps', 'fz', 'qh', 'uq', 'vu', 'kd',
       'xf', 'au', 'fn', 'ue', 'vx', 'od', 'qd', 'of', 'ih', 'vt', 'yg',
       'rw', 'xv', 'rn', 'rx', 'pn', 'dr', 'tv', 'ef', 'sr', 'ci', 'xc',
       'pd', 'yq', 'vc', 'ij', 'el', 'nw', 'xo', 'gm', 'st', 'ei', 'rg',
       'zt', 'pt', 'qq', 'ws', 'aw', 'xw', 'nf', 'hv', 'fm', 'fw', 'rf',
       'hz', 'po', 'no', 'kn', 'wg', 'jv', 'oq', 'hs', 'io', 'vr', 'cq',
       'yx', 'hg', 'vk', 'zy', 'tg', 'zx', 'li', 'ad', 'kg', 'jf', 'sz',
       'zg', 'kr', 'jx', 'ld', 'my', 'rq', 'fk', 'mq', 'dk', 'ji', 'yy',
       'qu', 'jm', 'zn', 'jj', 'nr', 're', 'wq', 'ke', 'ub', 'rk', 'rr',
       'jt', 'br', 'cp', 'rd', 'tk', 'wn', 'ic', 'se', 'wa', 'td', 'pw',
       'bj', 'cz', 'hy', 'lf', 'np', 'zi', 'jy', 'kv', 'sv', 'xa', 'fp',
       'lb', 'nd', 'mn', 'hq', 'me', 'ui', 'yu', 'aj', 'iw', 'rj', 'zb',
       'xt', 'gi', 'bt', 'cj', 'ki', 'nl', 'xs', 'qf', 'ju', 'va', 'gk',
       'al', 'kl', 'db', 'oi', 'ek', 'ur', 'nt', 'un', 'wp', 'cy', 'kp',
       'yt', 'ho', 'sl', 'id', 'eh', 'as', 'pg', 'md', 'yf', 'lt', 'hf',
       'qw', 'ba', 'kh', 'wc', 'is', 'dh', 'rl', 'du', 'dw', 'op', 'yn',
       'nv', 'er', 'ia', 'ax', 'hb', 'zs', 'ay', 'zw', 'mz', 'sy', 'uc',
       'fs', 'zh', 'nb', 'ae', 'cx', 'gh', 'cg', 'sp', 'wx', 'bz', 'xi',
       'mi', 'xg', 'mt', 'ra', 'bd', 'hj', 'rh', 'na', 'vo', 'pz', 'ls',
       'im', 'dq', 'ko', 'av', 'fr', 'mc', 'dz', 'ya', 'ph', 'dj', 'ip',
       'wo', 'lm', 'dx', 'yz', 'fu', 'am', 'iz', 'wl', 'pb', 'pm', 'cv',
       'nn', 'sn', 'ox', 'mj', 'os', 'sc', 'dt', 'jd', 'cu', 'fb', 'qm',
       'rz', 'qn', 'sw', 'bf', 'hk', 'fd', 'nx', 'bm', 'ut', 'uj', 'za',
       'en', 'uu', 'pa', 'bx', 'ov', 'pk', 'zm', 'dl', 'vs', 'ge', 'lw',
       'ac', 'bo', 'sg', 'tf', 'vm', 'dn', 'ol', 'uh', 'hr', 'xp', 'qb',
       'uz', 'vz', 'qc', 'lx', 'kx', 'ck', 'uo', 'gw', 'qp', 'zu', 'qj',
       'ru', 'lo', 'jz', 'rm', 'ob', 'tj', 'mu', 'ab', 'ri', 'wb', 'cb',
       'sb', 'dy', 'fh', 'cf', 'rv', 'fy', 'uf', 'ku', 'nu', 'gx', 'sq',
       'ii', 'wy', 'ow', 'jc', 'be', 'co', 'ew', 'wi', 'ej', 'ix', 'at',
       'ee', 'qi', 'rs', 'ly', 'yr', 'yc', 'jw', 'wf', 'vp', 'oa', 'hc',
       'lj', 'vw', 'ty', 'tr', 'uk', 'qz', 'ok', 'xn', 'es', 'ug', 'lp',
       'ta', 'gq', 'xz', 'sx', 'zq', 'ja', 'vl', 'vy', 'eo', 'ce', 'bl',
       'wk', 'kj', 'gy', 'fa', 'oh', 'pj', 'iy', 'we', 'hh', 'ms', 'yi',
       'tc', 'oz', 'iv', 'gd', 'kc', 'jr', 'wv', 'lg', 'jb', 'zo', 'cc',
       'ha', 'mh', 'zf', 'zd', 'bg', 'pe', 'xk', 'zr', 'fo', 'pi', 'dv',
       'iu', 'ml', 'cw', 'qa', 'rc', 'us', 'dc', 'ao', 'or', 'zv', 'ag',
       'in', 'py', 'rt', 'xh', 'vi', 'jh', 'vn', 'zp', 'xy', 'ec', 'vf',
       'bh', 'mf', 'bc', 'ea', 'tt', 'ed', 'ev'], dtype=object)

In [14]:
from sklearn import preprocessing as pp

In [15]:
le = pp.LabelEncoder()

In [52]:
pd.get_dummies(train['cat_var_3']).describe()

,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,...,zp,zq,zr,zs,zt,zu,zv,zw,zx,zy
count,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,...,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.000000,348978.00000,348978.000000,348978.000000
mean,0.002937,0.002278,0.002992,0.000077,0.000327,0.001003,0.000126,0.002671,0.000146,0.000218,...,0.000172,0.000315,0.000129,0.002052,0.000115,0.002218,0.000169,0.00012,0.002464,0.000278
std,0.054116,0.047675,0.054614,0.008796,0.018071,0.031653,0.011228,0.051609,0.012088,0.014756,...,0.013111,0.017751,0.011355,0.045249,0.010705,0.047042,0.013001,0.01097,0.049581,0.016670
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [50]:
test['cat_var_3_code'] = le.transform(test['cat_var_3'].astype('str'))

ValueError: y contains new labels: ['ap' 'ex' 'hr' 'ye']

535

In [36]:
train[['cat_var_1','cat_var_1_code']]

               cat_var_1  cat_var_1_code
transaction_id
id_11                NaN             268
id_33                 da              65
id_51                 gf             127
id_54                NaN             268
id_62                 da              65
id_67                 gf             127
id_71                 hn             154
id_88                 da              65
id_95                 pu             323
id_97                 da              65
id_109                da              65
id_119                gf             127
id_122                da              65
id_129                gj             131
id_142                pu             323
id_152                da              65
id_156                da              65
id_161                gf             127
id_173                gf             127
id_213                ga             124
id_218                pu             323
id_230                qk             336
id_236                gf             127
id_242                qk             336
id_250                zl             521
id_253                vg             437
id_254                gf             127
id_256                to             402
id_259                da              65
id_264                gf             127
...                  ...             ...
id_872344             da              65
id_872345             gf             127
id_872347             da              65
id_872352             da              65
id_872353             pu             323
id_872359             gf             127
id_872371             gf             127
id_872374             wq             467
id_872376             gf             127
id_872381             da              65
id_872385             da              65
id_872391             ch              48
id_872396             da              65
id_872399             gf             127
id_872401             gf             127
id_872403             og             290
id_872404             pu             323
id_872405             gf             127
id_872407             da              65
id_872411             fm             113
id_872415             da              65
id_872419             da              65
id_872420             gf             127
id_872428             gf             127
id_872431             gf             127
id_872435             gf             127
id_872436             gf             127
id_872437             da              65
id_872440             gf             127
id_872443             da              65

[348978 rows x 2 columns]

In [37]:
test[['cat_var_1','cat_var_1_code']]

               cat_var_1  cat_var_1_code
transaction_id
id_1                  da              65
id_6                  pu             323
id_9                  da              65
id_14                 pu             323
id_15                 gf             126
id_19                 aq              13
id_20                 xd             475
id_24                 da              65
id_25                 ph             314
id_28                 gf             126
id_31                 gf             126
id_32                 me             248
id_37                 so             380
id_41                 gf             126
id_49                 rl             358
id_50                 da              65
id_52                 iw             181
id_55                 da              65
id_56                 gf             126
id_57                 gf             126
id_59                 da              65
id_60                 da              65
id_61                 gf             126
id_63                 da              65
id_70                 da              65
id_74                 on             297
id_75                 gf             126
id_77                 uy             431
id_81                 gf             126
id_82                 jk             194
...                  ...             ...
id_872340             da              65
id_872343            NaN             268
id_872348             da              65
id_872354             gf             126
id_872357             nk             273
id_872365             gf             126
id_872370             pu             323
id_872373             gf             126
id_872383             jt             200
id_872384             gf             126
id_872387             pu             323
id_872388             gf             126
id_872392             da              65
id_872394             da              65
id_872398             gf             126
id_872400             da              65
id_872406             gf             126
id_872408             gf             126
id_872414             da              65
id_872421             gf             126
id_872423             da              65
id_872425             um             422
id_872427             gf             126
id_872429             gf             126
id_872430             gf             126
id_872433             jk             194
id_872434             yw             509
id_872438             ua             412
id_872439             da              65
id_872442             br              36

[523466 rows x 2 columns]