In [2]:
import pandas as pd
import numpy as np
import os
import sqlite3 as s

In [3]:
#chunks = pd.read_csv('ClickPrediction\\train.csv',chunksize= 2000000, names=['ID', 'Country', 'Carrier',
#                    'TrafficType', 'ClickDate', 'Device','Browser', 'OS', 'RefererUrl', 'UserIp', 
#                    'ConversionStatus','ConversionDate', 'ConversionPayOut', 'publisherId', 
#                    'subPublisherId','advertiserCampaignId', 'Fraud'])

In [4]:
#chunks_test = pd.read_csv('ClickPrediction\\test.csv',chunksize= 2000000, names=['ID', 'Country', 'Carrier',
#                    'TrafficType', 'ClickDate', 'Device','Browser', 'OS', 'RefererUrl', 'UserIp', 
#                    'ConversionStatus','ConversionDate', 'ConversionPayOut', 'publisherId', 
#                    'subPublisherId','advertiserCampaignId', 'Fraud'])

In [5]:
conn = s.connect('CP.db')

In [6]:
#conn.execute('''drop table Train''')

In [7]:
#conn.execute('''drop table Test''')

In [8]:
#conn.execute('''create table Train (ID TEXT , Country TEXT, Carrier TEXT,
#                    TrafficType TEXT, Device TEXT, Browser  TEXT, OS TEXT, RefererUrl TEXT, UserIp TEXT, 
#                    ConversionStatus TEXT, ConversionPayOut TEXT, publisherId TEXT, 
#                    subPublisherId TEXT, advertiserCampaignId TEXT, Fraud TEXT)''')

In [9]:
#conn.execute('''create table Test (ID TEXT , Country TEXT, Carrier TEXT,
#                    TrafficType TEXT, Device TEXT, Browser  TEXT, OS TEXT, RefererUrl TEXT, UserIp TEXT, 
#                    ConversionStatus TEXT, ConversionPayOut TEXT, publisherId TEXT, 
#                    subPublisherId TEXT, advertiserCampaignId TEXT, Fraud TEXT)''')

In [10]:
def clean_df(df):
    df.drop(['ClickDate','ConversionDate'], inplace=True,axis=1)
    df['ConversionStatus'] = df.ConversionStatus.astype('str').astype('category').cat.codes
    #df['OS'] = df.OS.astype('str').astype('category').cat.codes
    #df['Browser'] = df.Browser.astype('str').astype('category').cat.codes
    df['Carrier'] = df.Carrier.astype('float')
    df['TrafficType'] = df['TrafficType'].astype('category').cat.codes
    #df['publisherId'] = df['publisherId'].astype('str').astype('category').cat.codes
    #df['subPublisherId'] = df['subPublisherId'].astype('str').astype('category').cat.codes
    df['advertiserCampaignId'] = df['advertiserCampaignId'].astype('float')
    #df['RefererUrl'] = df.RefererUrl.astype('str').astype('category').cat.codes
    #df['UserIp'] = df.UserIp.astype('str').astype('category').cat.codes
    #df['Country'] = df.Country.astype('str').astype('category').cat.codes
    #df['Device'] = df.Device.astype('str').astype('category').cat.codes
    df['Fraud'] = df.Fraud.astype('float')
    #df['ConversionPayOut'] = df.ConversionPayOut.astype('float')
    df.index = df.ID
    df.drop(['ID'],axis=1,inplace=True)
    return df

In [11]:
#conn.commit()

In [12]:
cur = conn.cursor()

In [13]:
#sql2 = "CREATE INDEX id_idx ON Train (ID);"
#cur.execute(sql2)
#conn.commit()

In [14]:
#sql2 = "CREATE INDEX id_idx_test ON Test (ID);"
#cur.execute(sql2)
#conn.commit()

In [15]:
sql = 'select ID,OS from Train;'

In [16]:
cur.execute(sql)

In [17]:
rows = cur.fetchall()

In [24]:
sql = 'select ID,OS from Train;'
cur.execute(sql)
OS = cur.fetchall()

In [ ]:
sql = 'select ID,Device from Train;'
cur.execute(sql)
Device = cur.fetchall()

In [ ]:
sql = 'select ID,Browser from Train;'
cur.execute(sql)
Browser = cur.fetchall()

In [23]:
sql = 'select ID,Country from Train;'
cur.execute(sql)
Country = cur.fetchall()

In [27]:
sql = 'select distinct Country from Train;'
cur.execute(sql)
country_uniq = cur.fetchall()

In [28]:
sql = 'select distinct Device from Train;'
cur.execute(sql)
device_uniq = cur.fetchall()

In [29]:
sql = 'select distinct Browser from Train;'
cur.execute(sql)
browser_uniq = cur.fetchall()

In [30]:
sql = 'select distinct OS from Train;'
cur.execute(sql)
os_uniq = cur.fetchall()

In [22]:
cur.fetchall()

[(21999999,)]

In [23]:
#data1.tail(5)

In [10]:
i=0
for chunk in chunks:
    if(i < 11):
        print(i+1)
        i=i+1
        if(i==1):
            data1 = chunk
            data1.drop([0],axis=0,inplace=True)
            data1 = clean_df(data1)
            data1.to_sql('Train', con=conn,if_exists = 'append',chunksize=500000)
        else:
            data1 = chunk
            data1 = clean_df(data1)
            data1.to_sql('Train', con=conn,if_exists = 'append',chunksize=500000)    
    else:
        break

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,2,10,11,12,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2
3

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

4

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

5
6
7
8
9
10
11

In [ ]:
i=0
for chunk in chunks:
    if( (i> 10) & (i < 21)):
        print(i)
        i=i+1
        data1 = chunk
        data1 = clean_df(data1)
        data1.to_sql('Train', con=conn,if_exists = 'append',chunksize=500000)
            
    else:
        break

In [ ]:
i=0
for chunk in chunks:
    if((i> 20) & (i < 33)):
        print (i)
        i=i+1
        data1 = chunk
        data1 = clean_df(data1)
        data1.to_sql('Train', con=conn,if_exists = 'append',chunksize=500000)
        
    else:
        break

In [11]:
i=0
for chunk in chunks_test:
    print(i+1)
    i=i+1
    if(i==1):
        data1 = chunk
        data1.drop([0],axis=0,inplace=True)
        data1 = clean_df(data1)
        data1.to_sql('Test', con=conn,if_exists = 'append',chunksize=500000)
    else:
        data1 = chunk
        data1 = clean_df(data1)
        data1.to_sql('Test', con=conn,if_exists = 'append',chunksize=500000)

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,2,10,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2
3
4
5
6
7
8
9
10
11
12
13

In [18]:
device1 = data1.Device.astype('str').astype('category').cat.categories

In [103]:
device1.sort()

In [19]:
len(device1)

812

In [96]:
country1 = data1.Country.astype('str').factorize()[1].tolist()

In [97]:
len(country1)

201

In [94]:
browser1 = data1.Browser.astype('str').factorize()[1].tolist()

In [48]:
browser1.sort()

In [95]:
len(browser1)

33

In [49]:
os1 = data1.OS.factorize()[1].tolist()

In [51]:
os1.sort()

In [92]:
len(os1)

16

In [120]:
carrier1 = data1.Carrier.astype('float').astype('category').cat.categories

In [121]:
len(carrier1)

300

In [51]:
data.shape

(19999999, 14)

In [53]:
data.Device.astype('category').cat.categories

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            802, 803, 804, 805, 806, 807, 808, 809, 810, 811],
           dtype='int64', length=812)